# ======================
# 通用
# ======================
*.log
*.tmp
*.temp
*.bak
*.swp

# ======================
# C / C++
# ======================
*.o
*.out
*.exe
*.obj

# 编译目录
build/
bin/

# ======================
# VS Code
# ======================
.vscode/
!.vscode/settings.json

# ======================
# Linux
# ======================
*~
.DS_Store

# ======================
# 数据库
# ======================
# 本地数据库数据（不要提交）
data/
*.db

# ======================
# 依赖 / 运行产物
# ======================
node_modules/
dist/

# ======================
# 环境配置（敏感）
# ======================
.env
.env.*

